.toggler {
    display: inline-block;
}
.toggler__input {
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
    position: absolute;
}
.toggler__input:disabled ~ .toggle__state {
    pointer-events: none;
}
.toggler__input:disabled ~ .toggler__state .toggler__slider {
    background: var(--grey-2);
}
.toggler__input:disabled ~ .toggler__state .toggler__icon {
    background: var(--grey-3);
}
.toggler__input:disabled ~ .toggler__state .toggler__legend:before {
    color: var(--grey-2);
    content: 'Disabled';
}
.toggler__input:checked ~ .toggler__state .toggler__slider {
    background: var(--blue);
    border-color: var(--blue);
}
.toggler__input:checked ~ .toggler__state .toggler__legend:before {
    content: 'On';
}
.toggler__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toggler__slider {
    position: relative;
    width: 52px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    box-sizing: border-box;
}
.toggler__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background: var(--grey-2);
    border-radius: 50%;
    left: 1px;
    top: 1px;
}
.toggler__input:checked ~ .toggler__state .toggler__icon {
    background: var(--white);
    left: auto;
    right: 1px;
}
.toggler__legend {
    font-family: 'Inter', sans-serif;
    color: var(--grey-4);
    margin-left: 12px;
    user-select: none;
}
.toggler__legend:before {
    content: 'Off';
}
