.histogram__body {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    width: fit-content;
    padding: 16px 24px 24px;
}
.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.histogram__leftBoxText {
    padding-right: 100px;
}
.histogram__text_totalOrder {
    font-family: 'Inter-Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.histogram__text_totalOrderNumber {
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
}
.histogram__rightBoxText {
}
.histogram__text_linkViewAll {
    text-decoration: none;
    color: var(--blue-1);
}
.histogram__columns {
    display: flex;
}
.histogram__column {
    width: 9px;
    height: 50px;
    background-color: var(--blue-1);
    margin: 1px;
}
