.page {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.page__box {
    max-width: 1110px;
    margin: 0 auto;
}

.page__main {
    background-color: #f9fafc;
}
