.pageElement {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
}

.pageElement__header,
.pageElement__main,
.pageElement__header {
    padding: 10px;
    box-sizing: border-box;
}

.pageElement__header,
.pageElement__footer {
    height: 100px;
}

.pageElement__header {
    margin-bottom: 0 !important;
    padding-top: 0;
}

.pageElement__main {
    display: grid;
    grid-template-columns: 285px 1fr;
}

.pageElement__footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: var(--grey-3);
    line-height: 100px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
}
