.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip__trigger {
    cursor: pointer;
}

.tooltip__menu {
    position: absolute;
    width: 129px;
    background: var(--primary);
    color: var(--grey-2);
    border-radius: 10px;
    text-align: center;
    line-height: 45px;
    left: 50%;
    transform: translate(-50%, -80px);
    display: none;
}

.tooltip__menu:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 50%;
    border-top: 6px solid var(--primary);
    transform: translate(-50%, 44px);
}

.tooltip__trigger:hover > .tooltip__menu {
    display: block;
}
