.checkbox {
    display: inline-block;
}
.checkbox__input {
    opacity: 0;
    width: 1px;
    height: 1px;
    pointer-events: none;
    position: absolute;
}

.checkbox__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__control {
    position: relative;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
}

.checkbox__legend {
    font-family: 'Inter', sans-serif;
    color: var(--grey-4);
    margin-left: 12px;
    user-select: none;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--purple);
    border-color: var(--purple);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__icon {
    display: none;
    position: absolute;
    width: 25px;
    height: 25px;
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
